.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex; }

.flexbox-container > div {
  width: 50%;
  padding: 10px; }

.flexbox-container > div:first-child {
  margin-right: 20px; }

body {
  font-family: 'Comfortaa', cursive; }

header {
  display: flex;
  align-items: center;
  font-size: 1.7em; }
  header span {
    color: tomato; }
  header img {
    flex-grow: 0;
    flex-shrink: 0; }

code {
  font-size: 0.8em;
  color: blue; }

#logo {
  height: 64px; }

#console {
  font-family: 'Roboto Mono', monospace;
  background-color: #dedede;
  min-height: 100px; }

.Grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }

.Grid-cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1; }

.Demo {
  width: 100%;
  padding: .8em 1em 0;
  background: rgba(147, 128, 108, 0.1);
  border-radius: 3px; }

.u-1of2 {
  width: 20% !important;
  -webkit-box-flex: 0 !important;
  -webkit-flex: none !important;
  flex: none !important; }
