.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex; }

.flexbox-container > div {
  width: 50%;
  padding: 10px; }

.flexbox-container > div:first-child {
  margin-right: 20px; }

html {
  background: url(/images/bg-fade.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 14px; }

body {
  font-family: 'Comfortaa', cursive;
  background-color: transparent; }

.ui.segment {
  font-size: 0.9em; }

.ui.form input:not([type]) {
  padding: 0.5em 0.8em; }

h3 {
  color: tomato; }

header {
  display: flex;
  align-items: center;
  font-size: 1.7em;
  width: 100%; }
  header span {
    color: tomato; }
  header img {
    flex-grow: 0;
    flex-shrink: 0; }
  header .conn_status {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 20px; }
    header .conn_status img {
      height: 32px;
      flex-grow: 0;
      flex-shrink: 0; }
    header .conn_status.connected {
      display: none; }
      header .conn_status.connected div {
        display: inline-block; }
      header .conn_status.connected span {
        color: #369d59;
        display: block; }
        header .conn_status.connected span#armIP {
          text-align: right;
          font-size: 0.5em; }
    header .conn_status.disconnected {
      color: #9f2e2e; }

span.clear {
  font-size: .6em;
  float: right;
  padding-right: 20px; }

code {
  font-size: 0.8em;
  color: blue; }
  code.green {
    color: green; }

#logo {
  height: 64px; }

#console {
  font-family: 'Roboto Mono', monospace;
  background-color: #dedede;
  min-height: 100px;
  height: 80%;
  overflow: scroll; }

.Grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }

.Grid-cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1; }

.Demo {
  width: 100%;
  padding: .8em 1em 0;
  background: rgba(147, 128, 108, 0.1);
  border-radius: 3px; }

.u-1of2 {
  width: 20% !important;
  -webkit-box-flex: 0 !important;
  -webkit-flex: none !important;
  flex: none !important; }
