<html>  
  <head>
    <title>Main in the pi Castle</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="public/main.css">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>    

    <script src="public/js/path-service.js"></script>
  </head>
  <body>
    <header>
      <img src="public/images/castle.png" id="logo">
      <div>Man in the <span>Pi</span> Castle</div>
    </header>
    {{{body}}}

    <script>
      $('.menu .item').tab({
        
      });
    </script>
  </body>
</html> 