/*
Error: Invalid CSS after "": expected selector, was "<html>"
        on line 1 of /var/www/mpc_frontend/views/layouts/main.hbs

1: <html>  
2:   <head>
3:     <title>Main in the pi Castle</title>
4:     <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
5:     <link rel="stylesheet" type="text/css" href="public/main.css">
6:     <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

Backtrace:
/var/www/mpc_frontend/views/layouts/main.hbs:1
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/scss/parser.rb:1181:in `expected'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/scss/parser.rb:1115:in `expected'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/scss/parser.rb:1095:in `expr!'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/scss/static_parser.rb:20:in `parse_selector'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/tree/visitors/perform.rb:425:in `visit_rule'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/tree/visitors/perform.rb:167:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/tree/visitors/perform.rb:157:in `visit'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/tree/visitors/perform.rb:8:in `send'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/tree/root_node.rb:20:in `render'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/engine.rb:278:in `render'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/plugin/compiler.rb:215:in `update_stylesheets'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/plugin.rb:82:in `update_stylesheets'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/exec/sass_scss.rb:361:in `watch_or_update'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/exec/sass_scss.rb:51:in `process_result'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/exec/base.rb:52:in `parse'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/../lib/sass/exec/base.rb:19:in `parse!'
/var/lib/gems/1.8/gems/sass-3.4.20/bin/sass:13
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"\": expected selector, was \"<html>\"\A         on line 1 of /var/www/mpc_frontend/views/layouts/main.hbs\A \A 1: <html>  \A 2:   <head>\A 3:     <title>Main in the pi Castle</title>\A 4:     <link rel=\"stylesheet\" type=\"text/css\" href=\"semantic/dist/semantic.min.css\">\A 5:     <link rel=\"stylesheet\" type=\"text/css\" href=\"public/main.css\">\A 6:     <script src=\"https://code.jquery.com/jquery-2.2.0.min.js\"></script>"; }
